form{
        width: 50%;
        height: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: column;
        gap: 10px;
        margin: 2em 0;
}
.wraping{
  display: inline-block;
}
#input-url{
  width: 500px;  
  }
  
  label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }
  .container{
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    align-items: center;
    margin: 0 auto;
  }

/* diseño responsive  */
@media only screen and (max-width: 930px){
   form{
        gap: 5px;
}
#input-url{
  width: 300px;
  font-size: 12px;
  padding: .2em;
  margin: 5px;
  }
  
  label{
    font-size: 14px;
  }
  .container{
    gap: 5px;
  }
}

@media only screen and (max-width: 430px){
  #input-url{
    width: 250px;
    }

}