<footer>
    <div class="parent">
        <div class="div1">
            <span class="list-style fa-solid fa-qrcode"></span>
            <h4>Genex QR</h4>
        </div>
        <div class="div2">
            <button class="hvr-icon-wobble-vertical" (click)="goTop()" title="Ir Arriba">
                <span class="fa-solid fa-rocket hvr-icon"></span>
            </button>
        </div>
        <div class="div3">
            <a href="https://github.com/Leon-Zero" target="_blank" title="GitHub">
                <span class="fa-brands fa-github"></span>
            </a>
            <a href="https://portfolio-lh.web.app/" target="_blank" title="Portfolio Web">
                <span class="fa-solid fa-briefcase"></span>
            </a>
        </div>
    </div>
    <hr>
    <div class="flex-box">
        <p>El diseño de este sitio web, del cual <strong>Leonardo Ismael Hidalgo</strong> es el autor, tiene algunos <b>derechos reservados.</b> 
            El mismo puede no ser autor intelectual de alguno de los logos o imágenes reproducidas en este sitio, y en
            cuyo caso de que quiera retirar contenido protegido por derechos de autor, deberá comunicarse con los
            respectivos propietarios del mismo con la información provista en el código, o escribirme a través de mis
            medios de contacto para facilitarle dicha información.</p>
    </div>
</footer>