<form  (ngSubmit)="clearWrap()" >
    <button type="submit" class="btn">Borrar Marco</button>

    <fieldset (click)="onField(0)" >
      <legend><h2>Estilo moderno</h2></legend>
      <div class="icon-field" *ngIf="setField !== 0">
          <i  class="fa-solid fa-angles-down open"></i>
        </div>
      <div class="row" *ngIf="setField === 0" >
            <div class="wrap-qr-body" >
                <div class="wrap-qr-content" *ngFor="let wrap of wrapingClass.moderno">
                    <input [(ngModel)]="wraping" type="radio" [name]=" 'wraping__' + wrap.name "
                    [value]="wrap.name" (change)="sendWraping(wraping)" >
                    <img [src]=" './assets/img_wrap/' + wrap.name + '.png' " 
                    [alt]=" wrap.name + 'preview' " [title]="wrap.atribution">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset (click)="onField(1)" >
        <legend><h2>Marcos de animales</h2></legend>
        <div class="icon-field" *ngIf="setField !== 1">
            <i  class="fa-solid fa-angles-down open"></i>
        </div>
        <div class="row" *ngIf="setField === 1" >
              <div class="wrap-qr-body" >
                  <div class="wrap-qr-content" *ngFor="let wrap of wrapingClass.animales">
                      <input [(ngModel)]="wraping" type="radio" [name]=" 'wraping__' + wrap.name "
                      [value]="wrap.name" (change)="sendWraping(wraping)" >
                      <img [src]=" './assets/img_wrap/' + wrap.name + '.png' " 
                      [alt]=" wrap.name + 'preview' " [title]="wrap.atribution">
                  </div>
              </div>
          </div>
      </fieldset>
      <fieldset (click)="onField(2)" >
        <legend ><h2>Diseños clásicos</h2></legend>
        <div class="icon-field" *ngIf="setField !== 2">
            <i  class="fa-solid fa-angles-down open"></i>
        </div>
        <div class="row"  *ngIf="setField === 2" >
              <div class="wrap-qr-body" >
                  <div class="wrap-qr-content" *ngFor="let wrap of wrapingClass.clasico">
                      <input [(ngModel)]="wraping" type="radio" [name]=" 'wraping__' + wrap.name "
                      [value]="wrap.name" (change)="sendWraping(wraping)" >
                      <img [src]=" './assets/img_wrap/' + wrap.name + '.png' "
                      [alt]=" wrap.name + 'preview' " [title]="wrap.atribution">
                  </div>
              </div>
          </div>
      </fieldset>
      <fieldset (click)="onField(4)">
        <legend ><h2>Estilo de dibujo</h2></legend>
        <div class="icon-field" *ngIf="setField !== 4">
            <i  class="fa-solid fa-angles-down open"></i>
        </div>
        <div class="row"  *ngIf="setField === 4" >
              <div class="wrap-qr-body" >
                  <div class="wrap-qr-content" *ngFor="let wrap of wrapingClass.dibujo">
                      <input [(ngModel)]="wraping" type="radio" [name]=" 'wraping__' + wrap.name "
                      [value]="wrap.name" (change)="sendWraping(wraping)" >
                      <img [src]=" './assets/img_wrap/' + wrap.name + '.png' " 
                      [alt]=" wrap.name + 'preview' " [title]="wrap.atribution">
                  </div>
              </div>
          </div>
      </fieldset>
 </form>
  