<div class="wrap">

    <app-qr-type-form></app-qr-type-form>
    
    <article class="node-article" *ngIf="type === 'url' ">
        <div class="view">
            <div id="consejo-url" class="consejo">
                <h3>Acá va el consejo sobre url</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                    nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                    voluptatem, deleniti in.</p>
            </div>
        </div>
    </article>
    <article class="node-article" *ngIf="type === 'texto' ">
        <div class="view">
            <div id="consejo-texto" class="consejo">
                <h3>Acá va el consejo sobre texto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptatibus totam quisquam. Vel
                    quas doloribus ut id quis recusandae aliquid, exercitationem illum sequi, saepe atque dolor veniam
                    eum est aspernatur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                    nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                    voluptatem, deleniti in.</p>
            </div>
        </div>
    </article>
    <article class="node-article" *ngIf="type === 'v-card' ">
        <div class="view">
            <div id="consejo-vcard" class="consejo">
                <h3>Acá va el consejo sobre vcard</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis iste voluptatum reprehenderit
                    facere. Blanditiis placeat assumenda nobis esse fugit quod perspiciatis mollitia sapiente molestias!
                    Facere laborum possimus natus saepe repellat. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Atque corrupti, at similique dignissimos
                    nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                    voluptatem, deleniti in.</p>
            </div>
        </div>
    </article>
    <article class="node-article" *ngIf="type === 'wifi' ">
        <div class="view">
            <div id="consejo-wifi" class="consejo">
                <h3>Acá va el consejo sobre wifi</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                    nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                    voluptatem, deleniti in.</p>
            </div>
        </div>
    </article>
    <article class="node-article" *ngIf="type === 'mapa' ">
        <div class="view">
            <div id="consejo-mapa" class="consejo">
                <h3>Acá va el consejo sobre ubicación</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                    nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                    voluptatem, deleniti in.</p>
            </div>
        </div>
    </article>
</div>