.accordion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.accordion-panel {
    padding: 0 4em;
    width: 80vw;
    margin-bottom: 10px;
    border: 2px solid #2c494f;
    border-radius: 50px;
    background-color: rgba(235, 246, 250, 0.7);
}

.accordion input {
    display: none;
}

.accordion label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    padding-block: 7px;
    color: #126ef8;
    cursor: pointer;
    transition: color 0.25s;
    font-size: 16px;
    font-weight: 600;
}

.accordion label:hover,
.accordion input:checked + label {
    color: #122172;
}

.accordion i {
    color: #2587be;
}

.accordion .close {
    display: none;
}

.accordion input:checked + label .close {
    display: block;
}

.accordion input:checked + label .open {
    display: none;
}

.accordion-body {
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.accordion-answer {
    font-size: 14px;
    color: #043030;
    padding-top: 5px;
    padding-bottom: 7px;
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: ease-out 0.75s;
}

.accordion input:checked ~ .accordion-body {
    height: max-content;
}

.accordion input:checked ~ .accordion-body .accordion-answer {
    opacity: 1;
    transform: scale(1);
}
/* Icono color animación  */
.contenedor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
}
.contenedor ul{
    position: relative;
    display: flex;
    width: 100%;
    left: .6em;
}

.contenedor ul li{
    position: relative;
    list-style: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.contenedor ul li span #brush{
    color:#126ef8;
    font-size: 22px;
}

/* Icon Spin */
#quote-left{
    margin-right: 1em;
}
#quote-right{
    margin-left: 1em;
}
.hvr-icon{
    color: var(--button-hover-bg-color);
    font-size: 24px;
}
.hvr-icon-spin {
    display: flex;
    width: 50vw;
}
  /*  icono "iconos", animacion  */
.span-icon{
display: flex;
width: 7em;
}

#icons, #wrap-icon, #size-icon, #option-icon, #brush{
    font-size: 28px;
    display: flex;
    color: #126ef8;
}

 /* Icon Forward */
.hvr-icon-forward {
    display: flex;
    vertical-align: middle;
    width: 50vw;
  }
  
  /* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-horizontal:before {
    content: "";
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #c1e6ecda;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }