<div class="accordion">
    <article class="accordion-panel">
        <input id="accordion-question" name="accordion" type="radio" checked />
        <label for="accordion-question" class="hvr-icon-spin hvr-shutter-out-horizontal target">
            <a >
             <span id="quote-left" class="fa-solid fa-quote-left hvr-icon"></span> TEXTO <span id="quote-right" class="fa-solid fa-quote-right hvr-icon"></span>
            </a>
            <i class="fa-solid fa-angles-down open"></i>
        </label>
        <div class="accordion-body">

            <app-menu-type-example></app-menu-type-example>

        </div>
    </article>

    <article class="accordion-panel">
        <input id="accordion-question-5" name="accordion" type="radio" />
        <label for="accordion-question-5" class="hvr-icon-forward hvr-shutter-out-horizontal target">
            <a class="contenedor" >
                <span class="span-icon">TAMAÑOS</span> 
                <span id="size-icon" class="fa-solid fa-sliders hvr-icon"></span>
            </a>
            <i class="fa-solid fa-angles-down open"></i>
            
        </label>
        <div class="accordion-body">
            <div class="content">
                <p>Se dispone de 3 opciones para modificar el tamaño de los elementos personalizables al QR:</p>
                <br><br>
                <ul>
                    <li>Tamaño del QR</li>
                    <li>Tamaño del marco</li>
                    <li>Tamaño del icono</li>
                </ul>
                <br><br>
                <p>Use la combinación de estos valores para mejorar la estética del resultado o priorizar la lectura del QR.
                    Recuerde que marco e icono según la configuración de tamaño pueden tapar o no el QR, haciendo que en
                    oclusiones mayores el QR sea ilegible, por tal deben ajustarse los tamaños para evitar estos problemas,
                    o en su defecto cambiar el nivel de corrección de errores a uno que pueda soportar las oclusiones.</p>
                </div>
        </div>
    </article>
    <article class="accordion-panel">
        <input id="accordion-question-6" name="accordion" type="radio" />
        <label for="accordion-question-6" class="hvr-icon-forward hvr-shutter-out-horizontal target">
            <a class="contenedor" >
                <span class="span-icon">OPCIONES</span> 
                <span id="option-icon" class="fa-solid fa-gears hvr-icon"></span>
            </a>
            <i class="fa-solid fa-angles-down open"></i>
            
        </label>
        <div class="accordion-body">
            <div class="content">
                <p>
                    Como ya se estableció, la <b>corrección de error</b> de un código QR permite decodificarlo, aunque esté
                parcialmente oscurecido o ligeramente dañado, gracias al patrón que contiene información duplicada
                (redundancia) de los contenidos.
                Hay cuatro niveles de corrección de error: L, M, Q y H. Cada nivel tiene su propio porcentaje de daño
                que
                puede sostener:
                </p>
                <br><br>
                <ul>
                    <li>Nivel L (low - bajo), 7% de palabras de código se puede restaurar.</li>
                    <li>Nivel M (medium - medio), 15% de palabras de código se puede restaurar.</li>
                    <li>Nivel Q (quartile - cuarto), 25% de palabras de código se puede restaurar.</li>
                    <li>Nivel H (high - alto) 30% de palabras de código se puede restaurar.</li>
                </ul>
                <br><br>
                <p>Cuál utilizar depende del tamaño real del código QR a imprimir o de la oclusión que este tenga encima
                    (iconos, marcos, contraste de colores), así como también la obstrucción visual que pueda interponerse
                    entre el código QR y el escáner al momento de verificarlo (vidrios, plástico, luces, objetos, etc.). A
                    mayor nivel mayor será la densidad de datos duplicados que contenga el QR, por tal la densidad de
                    cuadrados negros en el QR resultante será mayor.</p>
            </div>
        </div>
    </article>
</div>