.wraping{
    display: inline-block;
    width: 100vw;
    margin: 2em 0;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 10px;
}
.input-vcard{
display: flex;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
color: #000000;
background-color: #f6f7f769;
filter: drop-shadow(3px 3px 3px #7b86d3);
margin-top: 10;
font-weight: 600;
border: 3px solid #9f9fea;
padding: .2em;
}
.input-vcard:focus{
background-color: #fdfdff;
border: 3px #3131bc solid;
}

label{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 600;
font-size: 14px;
text-align: center;
}
span i{
    font-size: 14px;
    margin: 0 .2em;
}
.container{
display: flex;
flex-flow: column nowrap;
width: 100%;
align-items: center;
justify-content: center;
margin: 0 auto;
position: relative;
}
    .input-group{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        gap: 2em;
    }
    .col{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }
.btn {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    text-shadow: 0px 0px 2px #102e1c;
    font-family: Georgia;
    color: #fcfcfc;
    font-size: 18px;
    background: #b8bcd5;
    padding: 10px 20px 10px 20px;
    border: solid #89959c 1px;
    text-decoration: none;
    margin: 1em;
    }
    
    .btn:hover {
    background: #122172;
    text-decoration: none;
    }
#col__v-notas{
    position: relative;
}
#v-nacimiento{
    width: 15.7em;
    position: relative;
    left: .3em;
}

/* diseño responsive  */
@media only screen and (max-width: 930px){
    form{
        gap: 5px;
    }
    .input-vcard{
    font-size: 12px;
    filter: drop-shadow(2px 2px 2px #7b86d3);
    margin-top: 5;
    border: 2px solid #9f9fea;
    padding: .1em;
    }
    .input-vcard:focus{
    border: 2px #3131bc solid;
    }
    
    label{
    font-size: 11px;
    }
    span i{
        font-size: 12px;
        margin: 0 .1em;
    }
        .input-group{
            gap: .8em;
        }
    .btn {
        font-size: 12px;
        padding: 5px 10px 5px 10px;
        margin: .5em;
        }
    #v-nacimiento{
        width: 15.2em;
        position: relative;
        left: .1em;
    }
   
}