<section class="container">
    <div class="accordion">
        <h2 class="title">Personaliza tu codigo QR</h2>
        <article class="accordion-panel">
            <input id="accordion-question" name="accordion" type="radio" checked />
            <label for="accordion-question">
                <a class="hvr-icon-spin" >
                 <span id="quote-left" class="fa-solid fa-quote-left hvr-icon"></span> TEXTO <span id="quote-right" class="fa-solid fa-quote-right hvr-icon"></span>
                </a>
                    <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <app-qr-type-form></app-qr-type-form>
                <app-qr-data-form *ngIf=" type === 'url' "></app-qr-data-form>
                <app-qr-data-texto-form *ngIf=" type === 'texto' " ></app-qr-data-texto-form>
                <app-qr-data-wifi-form *ngIf=" type === 'wifi' "></app-qr-data-wifi-form>
                <app-qr-data-ubicacion-form *ngIf="type === 'mapa' " ></app-qr-data-ubicacion-form>
            </div>
        </article>

        <article class="accordion-panel">
            <input id="accordion-question-2" name="accordion" type="radio" />
            <label for="accordion-question-2">
               <a class="contenedor" >
                    COLORES
                    <ul>
                        <li>
                            <span><i id="brush" class="fa-solid fa-brush"></i></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span id="hover_target" ></span>
                        </li>
                    </ul>
                </a>
                <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <app-qr-color-form></app-qr-color-form>
            </div>
        </article>

        <article class="accordion-panel">
            <input id="accordion-question-3" name="accordion" type="radio" />
            <label for="accordion-question-3">
                <a class="contenedor hvr-icon-forward" >
                <span>ICONOS</span> 
                    <span id="icons" class="fa-solid fa-icons hvr-icon"></span>
                </a>
                <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <div class="row">
                    <app-social></app-social>
                    <app-plataform></app-plataform>
                    <app-devs></app-devs>
                    <app-finance></app-finance>
                </div>
            </div>
        </article>

        <article class="accordion-panel">
            <input id="accordion-question-4" name="accordion" type="radio" />
            <label for="accordion-question-4">
                MARCOS
                <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <app-qr-wraping-form></app-qr-wraping-form>
            </div>
        </article>

        <article class="accordion-panel">
            <input id="accordion-question-5" name="accordion" type="radio" />
            <label for="accordion-question-5">
                TAMAÑOS
                <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <app-qr-sizing-form></app-qr-sizing-form>
            </div>
        </article>
        <article class="accordion-panel">
            <input id="accordion-question-6" name="accordion" type="radio" />
            <label for="accordion-question-6">
                OPCIONES
                <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <app-qr-correction-level-form></app-qr-correction-level-form>
            </div>
        </article>
    </div>
</section>