/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container {
    margin-inline: auto;
    padding: 10px 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    left: 0;
    top: 0;
}
/* Acordion estilos generales */
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 20px;
}
.accordion{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3rem;
    color: var(--primary-color);
}

.accordion-panel {
    width: 70rem;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: .8em;
    background-color: #fcfcfc;
}

.accordion input {
    display: none;
}

.accordion label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    padding-block: 7px;
    color: #126ef8;
    cursor: pointer;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
    font-size: 16px;
    font-weight: 600;
    min-height: 45px;
}

.accordion label:hover,
.accordion input:checked + label {
    color: #122172;
}

.accordion i {
    color: #2587be;
}

.open{
    position: absolute;
    right: 1em;
}

.accordion input:checked + label .open {
    display: none;
}

.accordion-body {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.25s ease-in-out;
    -o-transition: height 0.25s ease-in-out;
    transition: height 0.25s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
}

.accordion-answer {
    font-size: 14px;
    color: #043030;
    padding-top: 5px;
    padding-bottom: 7px;
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-transition: ease-out 0.75s;
    -o-transition: ease-out 0.75s;
    transition: ease-out 0.75s;
}

.accordion input:checked ~ .accordion-body {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.accordion input:checked ~ .accordion-body .accordion-answer {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
app-qr-color-form, app-qr-sizing-form, app-social, app-plataform, app-devs, app-data-form, app-finance, app-qr-type-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}

  /* animaciones acordion titulos - estilos generales  */
.target{
  min-width: 100%;
  padding: 0 1.5em;
}


/* Icono color animación  */
.contenedor{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
}
.contenedor ul{
    position: relative;
    left: -.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.contenedor ul li{
    position: relative;
    list-style: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.contenedor ul li span #brush{
    color:#126ef8;
    position: relative;
    z-index: 500;
}
.contenedor ul li span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) .4s;
    -o-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) .4s;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) .4s;
}
    .target:hover .contenedor ul li span:nth-child(7){
        -webkit-transform: translateX(240px);
            -ms-transform: translateX(240px);
                transform: translateX(240px);
        background-color: #ee82ee;
        opacity: .7;
    }
    .target:hover .contenedor ul li span:nth-child(6){
        content: "";
        -webkit-transform: translateX(200px);
            -ms-transform: translateX(200px);
                transform: translateX(200px);
        background-color: #0000ff;
        opacity: .7;
    }
    .target:hover .contenedor ul li span:nth-child(5){
        -webkit-transform: translateX(160px);
            -ms-transform: translateX(160px);
                transform: translateX(160px);
        background-color: #4b0082;
        opacity: .8;
    }
    .target:hover .contenedor ul li span:nth-child(4){
        -webkit-transform: translateX(120px);
            -ms-transform: translateX(120px);
                transform: translateX(120px);
        background-color: #008000;
        opacity: .8;
    }   
    .target:hover .contenedor ul li span:nth-child(3){
        -webkit-transform: translateX(80px);
            -ms-transform: translateX(80px);
                transform: translateX(80px);
        background-color: #ffff00;
        opacity: .9;
    }   
    .target:hover .contenedor ul li span:nth-child(2){
        -webkit-transform: translateX(40px);
            -ms-transform: translateX(40px);
                transform: translateX(40px);
        background-color: #ff4500;
        opacity: .9;

    }   
    .target:hover .contenedor ul li span:nth-child(1){
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
        opacity: 1;
        background-color: #ff0000;
    }

/* Icon Spin */
#quote-left{
    margin-right: 1em;
}
#quote-right{
    margin-left: 1em;
}
.hvr-icon{
    color: var(--button-hover-bg-color);
    font-size: 28px;
}
.hvr-icon-spin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-icon-spin .hvr-icon {
    -webkit-transition-duration: .5s;
    -o-transition-duration: 1s;
       transition-duration: 1s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
       transition-timing-function: ease-in-out;
  }
  .hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:focus .hvr-icon, .hvr-icon-spin:active .hvr-icon {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    color: #012685;
  }
  /*  icono "iconos", animacion  */
.span-icon{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 7em;
}

#icons, #wrap-icon, #size-icon, #option-icon, #brush, #quote-left, #quote-right{
    font-size: 22px;
    color: #126ef8;
}

 /* Icon Forward */
.hvr-icon-forward {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px #00000000;
            box-shadow: 0 0 1px #00000000;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
       transition-duration: 0.5s;
  }
  .hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
       transition-duration: 0.5s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
       transition-timing-function: ease-out;
  }
  .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(450px);
    -ms-transform: translateX(450px);
        transform: translateX(450px);
  }
 

  /* diseño responsive  */
  @media only screen and (max-width: 930px){

    .container {
        padding: 5px 5px;
    }
    .row{
        gap: 10px;
    }
    
    .title {
        font-size: 2.2rem;
    }
    
    .accordion-panel {
        width: 50rem;
        margin-bottom: 5px;
    }
    span{
        font-size: 12px;
    }
    .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
            transform: translateX(300px);
      }
  }

   /* diseño responsive  */
   @media only screen and (max-width: 530px){      
    .accordion-panel {
        width: 40rem;
    }
    .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
        -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
            transform: translateX(200px);
      }
      .contenedor ul li{
        height: 22px;
        width: 22px;
    }
    #icons, #wrap-icon, #size-icon, #option-icon, #brush, #quote-left, #quote-right{
        font-size: 18px;
    }
    .target:hover .contenedor ul li span:nth-child(7){
        -webkit-transform: translateX(180px);
            -ms-transform: translateX(180px);
                transform: translateX(180px);
    }
    .target:hover .contenedor ul li span:nth-child(6){
        content: "";
        -webkit-transform: translateX(150px);
            -ms-transform: translateX(150px);
                transform: translateX(150px);
    }
    .target:hover .contenedor ul li span:nth-child(5){
        -webkit-transform: translateX(120px);
            -ms-transform: translateX(120px);
                transform: translateX(120px);
    }
    .target:hover .contenedor ul li span:nth-child(4){
        -webkit-transform: translateX(90px);
            -ms-transform: translateX(90px);
                transform: translateX(90px);
    }   
    .target:hover .contenedor ul li span:nth-child(3){
        -webkit-transform: translateX(60px);
            -ms-transform: translateX(60px);
                transform: translateX(60px);
    }   
    .target:hover .contenedor ul li span:nth-child(2){
        -webkit-transform: translateX(30px);
            -ms-transform: translateX(30px);
                transform: translateX(30px);
    }
    
      
   }
   @media only screen and (max-width: 430px){      
    .accordion-panel {
        width: 32rem;
    }
    .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
        -webkit-transform: translateX(130px);
        -ms-transform: translateX(130px);
            transform: translateX(130px);
      }
    #icons, #wrap-icon, #size-icon, #option-icon, #brush, #quote-left, #quote-right{
        font-size: 14px;
    }
    .contenedor ul li{
        height: 18px;
        width: 18px;
    }
    .target:hover .contenedor ul li span:nth-child(7){
        -webkit-transform: translateX(120px);
            -ms-transform: translateX(120px);
                transform: translateX(120px);
    }
    .target:hover .contenedor ul li span:nth-child(6){
        content: "";
        -webkit-transform: translateX(100px);
            -ms-transform: translateX(100px);
                transform: translateX(100px);
    }
    .target:hover .contenedor ul li span:nth-child(5){
        -webkit-transform: translateX(80px);
            -ms-transform: translateX(80px);
                transform: translateX(80px);
    }
    .target:hover .contenedor ul li span:nth-child(4){
        -webkit-transform: translateX(60px);
            -ms-transform: translateX(60px);
                transform: translateX(60px);
    }   
    .target:hover .contenedor ul li span:nth-child(3){
        -webkit-transform: translateX(40px);
            -ms-transform: translateX(40px);
                transform: translateX(40px);
    }   
    .target:hover .contenedor ul li span:nth-child(2){
        -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
                transform: translateX(20px);
    }
    
}