header{
    max-width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 2em;
}
header img{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
header h2{
    font-size: 6vw;
    font-family:"Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #b8bcd5;
    text-shadow: 0 6px 15px #122072e0;
    letter-spacing: .3em;
    position: relative;
    z-index: 1000;
}
header h2::before{
    content: "consejos utiles";
    font-size: 6vw;
    font-family:"Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #494d59;
    position: absolute;
    transform: translate(2px,-2px);
    z-index: 100;
    letter-spacing: .3em;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-flow: column nowrap;
    padding: 0;
}
.view{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
h3{
    font-size: 18px;
    font-family:"Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #494d59;
    text-shadow: 0 2px 6px #122072e0;
    letter-spacing: .1em;
    text-align: center;
}
.consejo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
article .view .consejo p{
    font-size: 15px;
    font-family:"Roboto", sans-serif;
    color: rgb(0, 0, 0);
    text-align: justify;
    width: 90vw;
    padding: 0;
}

 /* diseño responsive  */
 @media only screen and (max-width: 930px){
    section{
        gap: 1em;
    }
    h3{
        font-size: 14px;
    }
    article .view .consejo p{
        font-size: 12px;
    }   
 }