<header>
    <h2>consejos utiles</h2>
    <img src="./assets/imagenes/qr-banner.png" alt="consejos utiles banner">
</header>
<section>
    <article id="general">
        <div class="view">
            <div class="consejo">
                <h3>Recomendaciones Generales</h3>
                <br>
                <p>Los <strong>códigos QR</strong> son una forma sencilla para compartir información, datos, feedback,
                    enlaces web, entre otras utilidades que sumado a las diversas aplicaciones móviles y webs lo hacen
                    una herramienta práctica y útil para usuarios de todo el planeta. El generador qr personalizado
                    permite crear imágenes QR según el texto introducido, no obstante hay ciertas pautas a seguir para
                    asegurar que nuestro código QR sea legible Y que se explicaran en los siguientes apartados. Recuerde
                    que siempre debe escanearse el QR generado antes de descargarlo, o inmediatamente luego de la
                    descarga, para comprobar que se ha generado correctamente y que es legible por un escáner. A
                    continuación se verá una lista de errores comunes a evitar que facilitara producir QR funcionales,
                    haga clic en los ítems para visualizar la explicación y ejemplos:</p>
                <br>
            </div>
            <br><br><br><br><br>
            <h3>Casos que dificultan la lectura de un QR</h3>

            <app-list-example></app-list-example>
        </div>
    </article>
</section>
<section>
    <article>
        <br><br><br><br><br>
        <h3>Explicación de las opciones</h3>
        <app-acordion-example></app-acordion-example>

    </article>
</section>