<app-navbar></app-navbar>
<header>
    <h2>consejos utiles</h2>
    <img src="./assets/imagenes/qr-banner.png" alt="consejos utiles banner">
</header>
<section>
    <article id="general">
        <div class="view">
            <div class="consejo">
                <h3>Recomendaciones Generales</h3>
                <br>
                <p>Los <strong>códigos QR</strong> son una forma sencilla para compartir información, datos, feedback,
                    enlaces web, entre otras utilidades que sumado a las diversas aplicaciones móviles y webs lo hacen
                    una herramienta práctica y útil para usuarios de todo el planeta. El generador qr personalizado
                    permite crear imágenes QR según el texto introducido, no obstante hay ciertas pautas a seguir para
                    asegurar que nuestro código QR sea legible:</p>
                <br>
                <p>Casos que dificultan la lectura de un QR</p>
                <div id="flex-consejo">
                    <ul>
                        <li>
                            <span class="list-style fa-solid fa-qrcode"></span>
                            <h5>ojos tapados</h5>
                        </li>
                        <li>
                            <span class="list-style fa-solid fa-qrcode"></span>
                            <h5>colores sin constraste</h5>
                        </li>
                        <li>
                            <span class="list-style fa-solid fa-qrcode"></span>
                            <h5>QR muy cubierto</h5>
                        </li>
                        <li>
                            <span class="list-style fa-solid fa-qrcode"></span>
                            <h5>nivel de corrección de errores insuficiente</h5>
                        </li>
                        <li>
                            <span class="list-style fa-solid fa-qrcode"></span>
                            <h5>datos mal introducidos</h5>
                        </li>
                        <li>
                            <span class="list-style fa-solid fa-qrcode"></span>
                            <h5>formato incorrecto</h5>
                        </li>
                    </ul>
                    <div class="content">

                    </div>
                </div>
            </div>
        </div>
    </article>

    <h3>Explicación de las opciones</h3>

    <section class="container">
        <div class="accordion">
            <article class="accordion-panel hvr-shutter-out-horizontal">
                <input id="accordion-question" name="accordion" type="radio" checked />
                <label for="accordion-question">
                    <a class="hvr-icon-spin">
                        <span id="quote-left" class="fa-solid fa-quote-left hvr-icon"></span> TEXTO <span
                            id="quote-right" class="fa-solid fa-quote-right hvr-icon"></span>
                    </a>
                    <i class="fa-solid fa-angles-down open"></i>
                    <i class="fa-solid fa-xmark close"></i>
                </label>
                <div class="accordion-body">

                    <h3>Acá va el consejo sobre url</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                        nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                        voluptatem, deleniti in.</p>

                </div>
            </article>

            <article class="accordion-panel hvr-shutter-out-horizontal">
                <input id="accordion-question-2" name="accordion" type="radio" />
                <label for="accordion-question-2">
                    <a class="contenedor hvr-icon-forward">
                        <span class="span-icon">COLORES</span>
                        <span id="brush" class="fa-solid fa-brush"></span>
                    </a>
                    <i class="fa-solid fa-angles-down open"></i>
                    <i class="fa-solid fa-xmark close"></i>
                </label>
                <div class="accordion-body">

                    <h3>Acá va el consejo sobre colores</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                        nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                        voluptatem, deleniti in.</p>



                </div>
            </article>

            <article class="accordion-panel hvr-shutter-out-horizontal">
                <input id="accordion-question-3" name="accordion" type="radio" />
                <label for="accordion-question-3">
                    <a class="contenedor hvr-icon-forward">
                        <span class="span-icon">ICONOS</span>
                        <span id="icons" class="fa-solid fa-icons hvr-icon"></span>
                    </a>
                    <i class="fa-solid fa-angles-down open"></i>
                    <i class="fa-solid fa-xmark close"></i>
                </label>
                <div class="accordion-body">

                    <h3>Acá va el consejo sobre iconos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                        nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                        voluptatem, deleniti in.</p>


                </div>
            </article>

            <article class="accordion-panel hvr-shutter-out-horizontal">
                <input id="accordion-question-4" name="accordion" type="radio" />
                <label for="accordion-question-4">
                    <a class="contenedor hvr-icon-forward">
                        <span class="span-icon">MARCOS</span>
                        <span id="wrap-icon" class="fa-solid fa-expand hvr-icon"></span>
                    </a>
                    <i class="fa-solid fa-angles-down open"></i>
                    <i class="fa-solid fa-xmark close"></i>
                </label>
                <div class="accordion-body">

                    <h3>Acá va el consejo sobre marcos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                        nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                        voluptatem, deleniti in.</p>

                </div>
            </article>

            <article class="accordion-panel hvr-shutter-out-horizontal">
                <input id="accordion-question-5" name="accordion" type="radio" />
                <label for="accordion-question-5">
                    <a class="contenedor hvr-icon-forward">
                        <span class="span-icon">TAMAÑOS</span>
                        <span id="size-icon" class="fa-solid fa-sliders hvr-icon"></span>
                    </a>
                    <i class="fa-solid fa-angles-down open"></i>
                    <i class="fa-solid fa-xmark close"></i>
                </label>
                <div class="accordion-body">

                    <h3>Acá va el consejo sobre Tamaños</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                        nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                        voluptatem, deleniti in.</p>


                </div>
            </article>
            <article class="accordion-panel hvr-shutter-out-horizontal">
                <input id="accordion-question-6" name="accordion" type="radio" />
                <label for="accordion-question-6">
                    <a class="contenedor hvr-icon-forward">
                        <span class="span-icon">OPCIONES</span>
                        <span id="option-icon" class="fa-solid fa-gears hvr-icon"></span>
                    </a>
                    <i class="fa-solid fa-angles-down open"></i>
                    <i class="fa-solid fa-xmark close"></i>
                </label>
                <div class="accordion-body">

                    <h3>Acá va el consejo sobre opciones</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                        nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                        voluptatem, deleniti in.</p>

                </div>
            </article>
        </div>
    </section>



    <app-qr-type-form></app-qr-type-form>


    <article class="node-article" *ngIf="type === 'url' ">
        <div class="view">
            <div id="consejo-url" class="consejo">
                <h3>Acá va el consejo sobre url</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                    nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                    voluptatem, deleniti in.</p>
            </div>
        </div>
    </article>
    <article class="node-article" *ngIf="type === 'texto' ">
        <div class="view">
            <div id="consejo-texto" class="consejo">
                <h3>Acá va el consejo sobre texto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptatibus totam quisquam. Vel
                    quas doloribus ut id quis recusandae aliquid, exercitationem illum sequi, saepe atque dolor veniam
                    eum est aspernatur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                    nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                    voluptatem, deleniti in.</p>
            </div>
        </div>
    </article>
    <article class="node-article" *ngIf="type === 'v-card' ">
        <div class="view">
            <div id="consejo-vcard" class="consejo">
                <h3>Acá va el consejo sobre vcard</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis iste voluptatum reprehenderit
                    facere. Blanditiis placeat assumenda nobis esse fugit quod perspiciatis mollitia sapiente molestias!
                    Facere laborum possimus natus saepe repellat. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Atque corrupti, at similique dignissimos
                    nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                    voluptatem, deleniti in.</p>
            </div>
        </div>
    </article>
    <article class="node-article" *ngIf="type === 'wifi' ">
        <div class="view">
            <div id="consejo-wifi" class="consejo">
                <h3>Acá va el consejo sobre wifi</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                    nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                    voluptatem, deleniti in.</p>
            </div>
        </div>
    </article>
    <article class="node-article" *ngIf="type === 'mapa' ">
        <div class="view">
            <div id="consejo-mapa" class="consejo">
                <h3>Acá va el consejo sobre ubicación</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti, at similique dignissimos
                    nulla temporibus earum soluta illo voluptates non modi adipisci beatae, alias animi veniam natus
                    voluptatem, deleniti in.</p>
            </div>
        </div>
    </article>
</section>