<div class="wrapping">    
    <form>
        <div id="qr-responsive" class="container">
            <label for="width">Tamaño QR ({{width * 2 + 'px'}})</label>
            <input id="width" class="input-range" type="range" name="width" min="150" max="400" step="1"
            [(ngModel)]="width" (input)="sendWidth(width)" valueAsNumber>
        </div>
        <!-- copia responsiva desde tamaño 430-->
        <div id="qr-hidden" class="container">
            <label for="width-hidden">Tamaño QR ({{width * 2 + 'px'}})</label>
            <input id="width-hidden" class="input-range" type="range" name="width" min="150" max="350" step="1"
            [(ngModel)]="width" (input)="sendWidth(width)" valueAsNumber>
        </div>
        <!-- copia responsiva desde tamaño 430-->


        <div class="container">
            <label for="size-icon">Tamaño Icono ({{sizeIcon}}) </label>
            <input id="size-icon" class="input-range" type="range" name="size-icon" min="4" max="10" step="1"
            [(ngModel)]="sizeIcon" (input)="sendSizeIcon(sizeIcon)" valueAsNumber>
        </div>

        <div id="control-responsive" class="container">
            <label for="size-wrap">Tamaño Marco ({{sizeWrap * 20 + 'px'}})</label>
            <input id="size-wrap" class="input-range" type="range" name="size-wrap" min="20" max="50" step="2"
            [(ngModel)]="sizeWrap" (input)="sendSizeWrap(sizeWrap)" valueAsNumber>
        </div>

                <!-- copia responsiva desde tamaño 530 y 430-->

        <div id="hidden" class="container">
            <label for="hidden-wrap">Tamaño Marco ({{sizeWrap * 20 + 'px'}})</label>
            <input id="hidden-wrap" class="input-range" type="range" name="size-wrap" min="20" max="40" step="2"
            [(ngModel)]="sizeWrap" (input)="sendSizeWrap(sizeWrap)" valueAsNumber>
        </div>
        <div id="hidden-2" class="container">
            <label for="hidden2-wrap">Tamaño Marco ({{sizeWrap * 20 + 'px'}})</label>
            <input id="hidden2-wrap" class="input-range" type="range" name="size-wrap" min="20" max="35" step="1"
            [(ngModel)]="sizeWrap" (input)="sendSizeWrap(sizeWrap)" valueAsNumber>
        </div>
                        <!-- copia responsiva desde tamaño 530 y 430-->

    </form>
</div>