<div class="wrapping">    
    <form>
        <div class="container">
            <label for="width">Tamaño QR ({{width * 2 + 'px'}})</label>
            <input id="width" class="input-range" type="range" name="width" min="150" max="400" step="1"
            [(ngModel)]="width" (input)="sendWidth(width)" valueAsNumber>
        </div>
        <div class="container">
            <label for="size-icon">Tamaño Icono ({{sizeIcon}}) </label>
            <input id="size-icon" class="input-range" type="range" name="size-icon" min="4" max="10" step="1"
            [(ngModel)]="sizeIcon" (input)="sendSizeIcon(sizeIcon)" valueAsNumber>
        </div>
        <div id="control-responsive" class="container">
            <label for="size-wrap">Tamaño Marco ({{sizeWrap * 20 + 'px'}})</label>
            <input id="size-wrap" class="input-range" type="range" name="size-wrap" min="20" max="50" step="2"
            [(ngModel)]="sizeWrap" (input)="sendSizeWrap(sizeWrap)" valueAsNumber>
        </div>
        <div id="hidden" class="container">
            <label for="hidden-wrap">Tamaño Marco ({{sizeWrap * 20 + 'px'}})</label>
            <input id="hidden-wrap" class="input-range" type="range" name="size-wrap" min="20" max="40" step="2"
            [(ngModel)]="sizeWrap" (input)="sendSizeWrap(sizeWrap)" valueAsNumber>
        </div>
    </form>
</div>