.node{
    position: relative;
    width: 100%;
    min-height: 800px;
    max-height: 4000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 4em;
}
.flex-wrap{
    display: grid;
    place-items: center;
}
 /* diseño responsive  */
 @media only screen and (max-width: 930px){
    .node{
        padding: 0;
    }
 }
 @media only screen and (max-width: 530px){
    .node{
        gap: 8em;
    }
 }
