<div class="wrap">
    <form class="hvr-shutter-out-horizontal" id="form-contacto"
    [formGroup]="addFormsubmit"
    (ngSubmit)="sendForm()" > 
        <h4>Formulario de Contacto</h4>

            <div class="column">
                <label for="FormControlInput1">Nombre y Apellido</label>
                <input class="input-form" type="text" id="FormControlInput1"
                formControlName="nombre" 
                placeholder="Leonardo Ismael Hidalgo..." 
                name="nombre" required>
            </div>
            <div *ngIf="addFormsubmit.touched && addFormsubmit.controls.nombre.errors">Nombre es requerido</div>

            <div class="column">
                <label for="FormControlInput2">Dirección Email</label>
                <input class="input-form" type="email" id="FormControlInput2" 
                formControlName="email"
                placeholder="name@ejemplo.com" 
                name="email" required>
            </div>
            <div *ngIf="addFormsubmit.touched && addFormsubmit.controls.email.errors">Email es requerido</div>

            <div class="column">
                <label for="FormControlTextarea1">Escriba el asunto de contacto</label>
                <textarea class="input-form" id="FormControlTextarea1"
                formControlName="asunto" 
                rows="6" 
                name="mensaje" required></textarea>
            </div>

            <div *ngIf="addFormsubmit.touched && addFormsubmit.controls.asunto.errors">Asunto es requerido</div>

            <!-- configuraciones de formsubmit -->
            <input type="hidden" name="_subject"
              formControlName="_subject">
            <input type="hidden" name="_template"
             formControlName="_template">

        <button [disabled]="addFormsubmit.invalid" class="btn" type="submit">Enviar</button>
    </form> 
</div>