*{
  margin: 0;
  padding: 0;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    gap: 10px;
}
.wraping{
display: inline-block;
}
.input-color{
    width: 70px;
    height: 70px;
    margin: .5em;
    cursor: crosshair;
    -webkit-appearance: none;
    appearance: none;
  }
  label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }
  .container{
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
  .container-node{
    display: flex;
    align-items: center;
    justify-content: center;
    direction: row;
    width: 400px;
    gap: 20px;
  }
  #dark::-webkit-color-swatch{
    border-radius: 50%;
    border: none;
  }
  #dark::-webkit-color-swatch-wrapper{
    padding: 0;
    margin: 0;
  }
  #light::-webkit-color-swatch{
    border-radius: 50%;
    border: none;
  }
  #light::-webkit-color-swatch-wrapper{
    padding: 0;
    margin: 0;
  }
  #dark{
    background-color: #0a0a0ae7;
    border-radius: 100px 10px / 120px;
    transform: rotate(-134deg);
  }
  #light{
    background-color: #dbdbb4;
    border-radius: 100px 10px / 120px;
    transform: rotate(-134deg);
    }