section{
    max-width: 100%;
    min-height: 100vh;
}
section, article, .flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-size: 18px;
    flex-flow: column nowrap;
    height: 100%;
}
.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-flow: row nowrap;
    height: 100%;
}
article{
    margin: 1em 1.5em;
    padding: 1em;
    border: 1px solid #b6d8df;
    border-radius: .8em;
    background-color: #fcfcfc;
}
h3{
    font-size: 18px;
    font-family:"Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #494d59;
    text-shadow: 0 2px 6px #122072e0;
    letter-spacing: .1em;
    text-align: center;
}
article p{
    font-size: 15px;
    font-family:"Roboto", sans-serif;
    color: rgb(0, 0, 0);
    text-align: justify;
    width: 85vw;
    padding: 1em;
}
  
  .btn:hover {
    background: #122172;
    text-decoration: none;
  }


   /* diseño responsive  */
  @media only screen and (max-width: 930px){
 
  h3{
      font-size: 15px;
  }
  article p{
      font-size: 12px;
      width: 80vw;
  }
  .btn {
      font-size: 14px;
      padding: 6px 10px 6px 10px;
    }
  }
