section{
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    display: inline-flex;
}
.row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 650px;
    gap: 20px;
}
.accordion{
    position: absolute;
    min-width: 600px;
    top: 0;
    left: 0;
}
.container {
    max-width: 600px;
    margin-inline: auto;
    padding: 20px 15px;
}

.title {
    font-size: clamp(26px, 5vw, 40px);
    color: var(--primary-bg-color);
    margin: 5px;
}

.accordion-panel {
    padding: 5px 25px;
    margin-bottom: 10px;
    border: 1px solid #777e91;
    border-radius: 50px;
    background-color: var(--text-color);
}

.accordion input {
    display: none;
}

.accordion label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    padding-block: 7px;
    color: var(--button-hover-bg-color);
    cursor: pointer;
    transition: color 0.25s;
    font-size: 16px;
    font-weight: 600;
}

.accordion label:hover,
.accordion input:checked + label {
    color: #264eb3;
}

.accordion i {
    color: #3b71fe;
}

.accordion .close {
    display: none;
}

.accordion input:checked + label .close {
    display: block;
}

.accordion input:checked + label .open {
    display: none;
}

.accordion-body {
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.accordion-answer {
    font-size: 14px;
    color: #777e91;
    padding-top: 5px;
    padding-bottom: 7px;
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: ease-out 0.75s;
}

.accordion input:checked ~ .accordion-body {
    height: max-content;
}

.accordion input:checked ~ .accordion-body .accordion-answer {
    opacity: 1;
    transform: scale(1);
}
app-qr-color-form, app-qr-sizing-form, app-social, app-plataform, app-devs, app-data-form, app-finance{
    display: flex;
    margin: 0 auto;
}
