<section class="container">
    <div class="accordion">
        <h2 class="title">Personaliza tu codigo QR</h2>
        <article class="accordion-panel">
            <input id="accordion-question" name="accordion" type="radio" checked />
            <label for="accordion-question">
                TEXTO
                <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <app-qr-data-form></app-qr-data-form>
            </div>
        </article>

        <article class="accordion-panel">
            <input id="accordion-question-2" name="accordion" type="radio" />
            <label for="accordion-question-2">
               COLORES
                <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <app-qr-color-form></app-qr-color-form>
            </div>
        </article>

        <article class="accordion-panel">
            <input id="accordion-question-3" name="accordion" type="radio" />
            <label for="accordion-question-3">
                ICONOS
                <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <div class="row">
                    <app-social></app-social>
                    <app-plataform></app-plataform>
                    <app-devs></app-devs>
                    <app-finance></app-finance>
                </div>
            </div>
        </article>

        <article class="accordion-panel">
            <input id="accordion-question-4" name="accordion" type="radio" />
            <label for="accordion-question-4">
                MARCOS
                <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <app-qr-wraping-form></app-qr-wraping-form>
            </div>
        </article>

        <article class="accordion-panel">
            <input id="accordion-question-5" name="accordion" type="radio" />
            <label for="accordion-question-5">
                TAMAÑOS
                <i class="fa-solid fa-angles-down open"></i>
                <i class="fa-solid fa-xmark close"></i>
            </label>
            <div class="accordion-body">
                <app-qr-sizing-form></app-qr-sizing-form>
            </div>
        </article>
    </div>
</section>