.dropdown-list-container {
    overflow: hidden;
    max-height: var(--dropdown-height-plataform);
    transition: max-height var(--transition-time) var(--transition-timing);
  }
li.dropdown-list-item {
display: flex;
flex-direction: column;
position: relative;
z-index: 1;
opacity: var(--list-opacity-plataform);
transition: opacity 0.8s var(--transition-timing);
}
.floating-icon {
  height: calc(var(--floating-icon-size-plataform) * 1.5px);
  width: calc(var(--floating-icon-size-plataform) * 1.5px);
  position: absolute;
  top: var(--floating-icon-top-plataform);
  left: var(--floating-icon-left-plataform);
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-timing);
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
ul.dropdown-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  height: var(--list-button-height);
  background-color: var(--button-hover-bg-color);
  transition: all var(--transition-time) linear;
  transform: translateY(var(--translate-value-plataform));
  border-radius: var(--border-radius);
  pointer-events: none;
}