<div class="dropdown-container" >
    <button id="button-plataform" class="dropdown-button main-button" (click)="dropdownBtn()" >
        <span class="dropdown-title-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 520">
                <path [attr.d]="path" />
            </svg>
        </span>
        <span class="dropdown-title text-truncate">{{name}}</span>
        <span class="dropdown-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path
                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
        </span>
    </button>
    <div class="dropdown-list-container">
        <div class="dropdown-list-wrapper">
            
            <ul id="dropdown-list-plataform" class="dropdown-list" >
                <li class="dropdown-list-item" *ngFor="let ico of iconos.icons" >
                    <button (click)="svgIcon(ico.path, ico.name, ico.css)" class="dropdown-button list-button"
                    [attr.data-translate-value]="ico.index + '%' " >
                      <span class="text-truncate"> 
                        {{ico.name}}
                      </span>
                    </button>
                </li>
            </ul>

            <div id="floating-icon-plataform" class="floating-icon" aria-hidden="true"></div>
        </div>
    </div>
</div>