@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after{
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
font-family: "Roboto", sans-serif;
width: 100%;
min-height: 100vh;
line-height: 1.4;
background-color: #e8e8e8;
}

:root {  
    --primary-bg-color: #74a6f1b0;
    --secundary-bg-color: #b1edf8;
    --primary-color: #2a3780;
    --text-color: #29292c;
    --text-active: #1f3ac7;
    --button-hover-bg-color: #122172;
    --border-color: #788599;
    --btn-warning-color: #e62222;
    --btn-warning-hvr: #ff3636;
    --palet-white: #e8e8e8;
    --palet-dark: #181818;
    --transition-time: 0.4s;
    --transition-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --border-radius: 1.4rem;
    --list-button-height: 4.6rem;
    --translate-value-plataform: 0;
    --floating-icon-size-plataform: 26;
    --floating-icon-top-plataform: 0;
    --floating-icon-left-plataform: 0;
    --rotate-arrow-plataform: 0;
    --dropdown-height-plataform: 0;
    --list-opacity-plataform: 0;
    --translate-value-social: 0;   
    --floating-icon-size-social: 26;
    --floating-icon-top-social: 0;
    --floating-icon-left-social: 0;
    --rotate-arrow-social: 0;
    --dropdown-height-social: 0;
    --list-opacity-social: 0;
    --translate-value-devs: 0;   
    --floating-icon-size-devs: 26;
    --floating-icon-top-devs: 0;
    --floating-icon-left-devs: 0;
    --rotate-arrow-devs: 0;
    --dropdown-height-devs: 0;
    --list-opacity-devs: 0;
    --translate-value-finance: 0;   
    --floating-icon-size-finance: 26;
    --floating-icon-top-finance: 0;
    --floating-icon-left-finance: 0;
    --rotate-arrow-finance: 0;
    --dropdown-height-finance: 0;
    --list-opacity-finance: 0;
  }

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
  }
  
  svg {
    height: 1rem;
    width: 1rem;
  }
  
  .text-truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .dropdown-container {
    margin: 1rem 0; 
    display: flex;
    flex-direction: column;
    width: 25rem;
    max-width: 34rem;
  }
  
  .dropdown-title-icon,
  .dropdown-arrow {
    display: inline-flex;
  }
  
  .dropdown-title {
    margin: 0 1rem;
    text-transform: capitalize;
  }
  
  .dropdown-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.65rem;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 2rem;
  }
  
  .dropdown-button svg {
    transition: all var(--transition-time) var(--transition-timing);
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
  
  .dropdown-button svg,
  .dropdown-button span {
    pointer-events: none;
  }
  
  .dropdown-button:hover,
  .dropdown-button:focus {
    color: var(--text-active);
  }
  
  .dropdown-button:hover svg,
  .dropdown-button:focus svg {
    fill: var(--text-active);
  }
  
  .main-button {
    height: 4rem;
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--primary-bg-color);
    border: 0.1rem solid var(--border-color);
    transition: all var(--transition-time) var(--transition-timing);
  }
  
  .main-button:focus {
    border: 0.1rem solid var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(44, 98, 246, 0.4);
  }
  
  .main-button .dropdown-arrow {
    transition: transform var(--transition-time) var(--transition-timing);
    transform: rotate(var(--rotate-arrow));
    margin-left: auto;
  }
  
  .list-button {
    height: var(--list-button-height);
    transition: color var(--transition-time) var(--transition-timing);
    color: var(--text-color);
    font-weight: 600;
    overflow: hidden;
    cursor: none;
  }
  
  .dropdown-list-wrapper {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--primary-bg-color);
    border-radius: var(--border-radius);
    border: 0.1rem solid var(--border-color);
    position: relative;
  }
  
  ul.dropdown-list {
    position: relative;
    list-style-type: none;
  }
  
  ul.dropdown-list:hover::before,
  ul.dropdown-list:hover ~ .floating-icon {
    opacity: 1;
  }
  
  .floating-icon svg {
    fill: var(--text-active);
    width: 40px;
    height: 40px;
  }
  .qr-image{
    display: flex;
    margin: 0;
    padding: 0;
    }
  .qr-image__hidden{
    display: none;
  }

/* botones comunes */
.btn {
  border-radius: 11px;
  text-shadow: 0px 0px 2px #102e1c;
  font-family: Georgia;
  color: var(--palet-dark);
  font-size: 18px;
  background: var(--primary-bg-color);
  padding: 10px 20px 10px 20px;
  border: solid #89959c 1px;
  text-decoration: none;
}

.btn:hover {
  background: var(--btn-warning-hvr);
  color: var(--palet-white);
  text-decoration: none;
}



   /* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
     transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  border-radius: .5em;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--secundary-bg-color);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
      transform: scaleX(0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
      transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
     transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
      transform: scaleX(1);
}

  /* diseño responsive  */
  @media only screen and (max-width: 930px){
   
  }


  /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}