*{
    box-sizing: border-box;
}
.wraping{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contentQR{
    width: 50.4em;
    height: 50.4em;
    border: 6px dashed rgba(27, 26, 26, 0.603);
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#capture{
    position: absolute;
    outline: 6px dashed rgb(91, 240, 91);
}
.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 1 / 2 / 2; }

.flex-row{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
}

.btn {
position: relative;
font-size: 17px;
text-transform: uppercase;
text-decoration: none;
width: 150px;
height: 50px;
display: inline-block;
border-radius: 6em;
transition: all .2s;
border: none;
font-family: "Roboto", sans-serif;
font-weight: 600;
text-shadow: 1px 1px 2px #5894ee;
color: #000000;
background-color: #74a6f1b0;
}
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #74a6f1b0;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

.btn-clean {
width: 150px;
height: 50px;
cursor: pointer;
display: flex;
align-items: center;
background: red;
border: none;
border-radius: 5px;
box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
background: #e62222;
font-size: 17px;
text-transform: uppercase;
text-decoration: none;
}

.btn-clean, .btn-clean span {
transition: 200ms;
}

.btn-clean .text {
transform: translateX(20px);
color: white;
font-weight: bold;
}

.btn-clean .icon {
position: absolute;
border-left: 1px solid #c41b1b;
transform: translateX(110px);
height: 40px;
width: 40px;
display: grid;
place-items: center;
}

.btn-clean svg {
width: 15px;
height: 15px;
fill: #eee;
}

    .btn-clean:hover {
    background: #ff3636;
    }

    .btn-clean:hover .text {
    color: transparent;
    }

    .btn-clean:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
    }

    .btn-clean:focus {
    outline: none;
    }

    .btn-clean:active .icon svg {
    transform: scale(0.8);
    }


    /* diseño responsive  */
  @media only screen and (max-width: 530px){
    #contentQR{
        width: 40em;
        height: 40em;
        border: 2px dashed rgba(27, 26, 26, 0.603);
    }
    #capture{
        outline: 2px dashed rgb(91, 240, 91);
    }
      .btn {
        font-size: 12px;
       }
       
       .btn:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       }                     
       .btn:hover::after {
        transform: scaleX(1.2) scaleY(1.2);
       }
       .btn-clean{
        font-size: 14px;
       }
       .btn-clean .text {
        transform: translateX(35px);
        font-weight: 600;
        }
  }
  @media only screen and (max-width: 430px){
    #contentQR{
        width: 35em;
        height: 35em;
        border: 2px dashed rgba(27, 26, 26, 0.603);
        margin: 0;
    }
  }